<span style="background:url(../img/home.png)"></span><span>
    <a href="/" class="rounded-full py-2 text-xl">Homepage</a>
</span>
<span
    class="centerReg reg_display text-6xl border-double border-5 border-neutral-600 rounded ml-8 my-8 bg-lime-400 text-neutral-950 text-center mx-8">
    {{showReg}}
</span>